.custom-shape-divider-top-1636402964 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1636402964 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 246px;
}

.custom-shape-divider-top-1636402964 .shape-fill {
    fill: #ffffff;
}
